/bin/
/Libs/
/.settings/
/.classpath
.svn/

/Reports
!/Reports/20241230_155630/healthcare-tests - TS_RegressionTest/20241230_155630/execution0.log
!/Reports/20241230_231944/healthcare-tests - TS_RegressionTest/20241230_231944/execution0.log

/.project
/.gradle/
/Drivers/
ci-samples.zip
settings/internal/com.kms.katalon.integration.analytics.properties
.cache
